body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Afacad Flux",arial;
    color: white;
    position: relative;
    flex-direction: column;;
    
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
    font-size: 50px;
    text-shadow:  -1px 4px 0px black;
    opacity: 0.6;
    transition: 0.3s;
}

h1:hover {
    opacity: 1;
}

h2 {
    margin-left: 5px;
    user-select: none;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("cidade.jpg");
    border: 3px dotted white;
    width: 560px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-size: cover;

}

.quadrado {
    background-image: url("aviao.png");
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 25%;
    left: 20%;
    transition: bottom 0.1s ease;

}

.container_inimigo {
    position: relative;
    position: absolute;
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.container_inimigo2 {
    position: relative;
    position: absolute;
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}


.inimigo {
    width: 60px;
    height: 500px;
    margin-top: -300px;
    background-image: url("Predio.png");
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);

}

.inimigo2 {
    width: 60px;
    height: 500px;
    bottom: 0px;
    margin-bottom: -300px;
    background-image: url("Predio.png");
    background-position: center;
    background-size: cover;
    

}

.inimigo3 {
    width: 60px;
    height: 500px;
    margin-top: -300px;
    background-image: url("Predio.png");
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
}

.inimigo4 {
    width: 60px;
    height: 500px;
    bottom: 0px;
    margin-bottom: -300px;
    background-image: url("Predio.png");
    background-position: center;
    background-size: cover;

}


footer{
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

h4 {
    margin: 0px;
    padding: 0px;
}
a {
    color: red;
    text-decoration: none;
    opacity: 0.6;
    margin: 0px;
    padding: 0px;

}

a:hover {
    opacity: 1;
}